.logo {
  width: 50px;
}

i {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
.fit-content {
  width: fit-content;
}
.side-nav-menu {
  position: relative;
  left: -265px;
  transition: left 1000ms;
  z-index: 99;
}
.side-nav-menu.open {
  left: 0;
}
ul {
  list-style: none;
}
.links li {
  position: relative;
  top: 30px;
  opacity: 0;
  transition: all 400ms;
}
.links li.show {
  top: 0;
  opacity: 1;
}

.food-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1000ms;
}

.food-card.show {
  opacity: 1;
  transform: translateY(0);
}

.meal-layer {
  width: 100%;
  height: 100%;
  background-color: #585858ca;
  color: #eee;
  top: 100%;
  transition: 0.5s;
  overflow: hidden;
}

.meal:hover .meal-layer {
  top: 0;
}
.meal .meal-layer p {
  text-overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
